* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --blue_neon: #006af9;
  
  /* dark mode blue_nion */
  /* --blue_neon: #00bfa5; */
  --orange: #f96a00;
  --green_neon: #00bfa5;
  --section_bg: #f8f8f8;
  
  /* dark mode section bg */
  /* --section_bg: #434343; */
  --text-color: #434343;
  --dark_text-color: #ffffff;
  /* --dark_blue: #7ca8cc; */
  --white: #ffffff;
  --body_background: #ffffff;
  --dark_body_background: #232323;
  --screen_size: 1000px;

}


body {
  margin-top: 0;
  /* font-family: 'Montserrat', sans-serif; */
  min-height: 100vh;
  background-color: var(--body_background);
  color: var(--text-color);
  position: relative;
  font-family: "Raleway", sans-serif;
}

h1, h2{
  font-family: "Raleway", sans-serif;

}
a {
  text-decoration: none;
  color: var(--text-color);
}

html {
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: y mandatory; */
}

.scroll {
  /* scroll-snap-align: center; */
}

.heading {
  /* width: 40%; */
  /* margin-top: -5%; */
}

.heading h1 {
  display: flex;
  align-items: center;
  color: var(--orange);
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Raleway", sans-serif;
  font-weight:500;
  font-size: 1.56rem;
  position: relative;
}

.heading h1 span {
  position: relative;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.heading h1 span::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: var(--green_neon);
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.heading h1 span:hover::after {
  width: 100%;
}
.heading h1 i{
  font-size: 1.2rem;
  margin-right:10px;
}

@media only screen and (max-width: 1000px){
  html{
    scroll-snap-type: none;
  }
}

section {
  padding: 5px;
}

.nav-wrapper {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  background: var(--background);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: 0px solid rgba(255, 255, 255, 0.18);
}

.logo {
  margin-left: 30px;
  font-family: "Cedarville Cursive", cursive;
  font-size: 2rem;
}

.nav-wrapper ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-wrapper ul > li {
  text-decoration: none;
  margin-right: 2.5rem;
  font-size: 1.1rem;
  /* font-weight: 550; */
}
.nav-wrapper ul > li > a {
  padding: 5px 10px;
  color: var(--blue_neon);
  /* color: var(--dark_blue); */
  transition: border 0.15s ease-in;
}

.nav-wrapper ul > li > a:hover {
  border-bottom: 3px solid #4deeea;
}

@media only screen and (max-width: 1000px){
  .nav-wrapper{
    display: none;
  }
  .nav-wrapper ul{
    display: none;
  }
  
}

/* MAIN */

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  margin-bottom: 5rem;
}

.about-wrapper {
  /* display: flex;
  align-items: center; */

  padding: 4rem 2rem;
  margin: 0 2rem;

  background-color: var(--section_bg); /* Section background color */
  /* box-shadow: 5px 5px 15px #d0d0d0, -5px -5px 15px #ffffff; */

  /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #3f3f3f; */
  border-radius:10px;
  text-align: left;

  display: flex;
  gap: 2rem;
  
}

.about-wrapper .about-intro{
  width: 70%;
}

.about-wrapper #name{
  color: var(--blue_neon);
  margin-bottom: 0.3rem;
}
.about-wrapper h1 {
  font-size: 3rem;
  color: #64ffda;
  margin: 0;

  color: #ff7300;
}
.about-wrapper #element {
  font-size: 2rem;
  color: #8892b0;
  margin: 0;
  margin-top: 1rem;
}
.about-wrapper p {
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 800px;
}

.about-wrapper button{
  border: none;
  background: transparent;
  border: 1px solid #ff7300;
  padding: 8px 20px;
  color: #ff7300;
  margin-top:1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.about-wrapper button:hover{
  background-color: #ff7300;
  color: white;
}

.about-contact-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;

}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px; 
}

.contact-item i {
  font-size: 24px;
  color: var(--green_neon);
}

.contact-item a,
.contact-item span {

  text-decoration: none;
}

.contact-item a:hover {
  cursor: pointer;
}

@media only screen and (max-width:1000px){
  #main{
    margin-top: 2.3rem;
  }
  .about-wrapper{
    flex-direction: column;
    margin: 0 1rem;
    padding: 4rem 1rem;
  }

  .about-wrapper .about-intro{
    width: 100%;
  }
}

/* ABOUT */

#education {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  /* margin-top: 5rem; */
}

.education-wrapper {
  padding: 2rem;
  margin: 0 2rem;
  padding-bottom: 2rem;

  background-color: var(--section_bg); /* Section background color */
  /* box-shadow: 5px 5px 15px #d0d0d0, -5px -5px 15px #ffffff; */

  /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #3f3f3f; */
  border-radius:10px;
}

.education_info{
  margin-top:1.1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.education_info::before{
  content: '';
  position: absolute;
  left: 8px;
  top: 7px;
  width: 2px;
  height: 100%;
  border-radius: 50%;
  background-color: var(--green_neon);
}

.education_info .ed h3{
  color: var(--blue_neon);
  font-weight: 600;
}

.education_info .ed h3 span{
  font-style: italic;
  font-size: 1rem;
  font-weight: 200;
}

.education_info .ed .degree{
  font-weight: 600;
}

.education_info .ed .coursework span{
  text-decoration: underline ;
  text-underline-offset: 3px;
  text-align: justify;
}

.ed {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.ed::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green_neon);
}

.coursework{
  margin-top: 5px;
  font-style: italic;
}
@media only screen and (max-width: 1000px){
  #education{
    height: auto;
    margin-top: 5rem;
  }

  .education-wrapper{
    padding-left: 2rem;
    margin: 0 1rem;
    padding: 4rem 1rem;
  }
}

/* INTERNSHIPS */

#internship {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  margin-top: 5rem;
}

.internship-wrapper {
  padding: 2rem;
  margin: 0 2rem;

  background-color: var(--section_bg); /* Section background color */
  /* box-shadow: 5px 5px 15px #d0d0d0, -5px -5px 15px #ffffff; */
  border-radius:10px;

  /* background-color: #f0f0f0; */
  /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #3f3f3f; */
}

.internship-wrapper .heading {
  /* width: 40%; */
  /* margin-top: -5%; */
}

.internship-wrapper .heading h1 {
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 1.56rem;
}

.internship_info{
  margin-top: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.internship_info .info{
text-align: justify;
}
.internship_info .intern h3{
  color: var(--blue_neon);
}

.internship_info .intern h3 span{
  font-style: italic;
  font-size: 1rem;
  font-weight: 200;
}

.internship_info .intern .position{
  /* font-style: italic; */
  font-weight: 600;
}

.internship_info .intern .info ul{
  padding-top: 1rem;
  padding-left: 1rem;
  /* list-style-type: lower-roman; */
}

.internship_info .intern .info ul li{
  font-size: 1.1rem;
  width: 97%;
}

.internship_info .intern .coursework span{
  text-decoration: underline ;
  text-underline-offset: 3px;
}

.internship_info::before{
  content: '';
  position: absolute;
  left: 8px;
  top: 7px;
  width: 2px;
  height: 100%;
  border-radius: 50%;
  background-color: var(--green_neon);
}

.intern {
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
}

.intern::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green_neon);
}

@media only screen and (max-width: 1000px){
  #internship{
    height: auto;
    margin-top: 5rem;
  }

  .internship-wrapper{
    padding-left: 2rem;
    margin: 0 1rem;
    padding: 4rem 1rem;
  }

  .internship_info .intern .info ol li{
    width: 100%;
  }
}

/* PROJECTS */

/* .skills > img{
    width: 150px;
    height: 150px;
} */

#projects {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  margin-top: 5rem;
}


.projects-outer-wrapper{
  display:flex;
  flex-direction: column;  
  padding: 2rem;
  margin: 0 2rem;

  background-color: var(--section_bg); /* Section background color */
  /* box-shadow: 5px 5px 15px #d0d0d0, -5px -5px 15px #ffffff; */

  /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #3f3f3f; */
  border-radius:10px;
}

.projects-outer-wrapper h2 {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 1.56rem;
  color: black;
}
.projects-wrapper {
  display: flex;
  gap: 20px;
}

.projects-wrapper #column1{
  width: 50%;
  position: relative;
  /* margin-left: 5rem; */
}

.projects-wrapper #column2{
  width: calc(100% - 50% - 5rem);
  position: relative;
}

#column1::before{
  content: '';
  position: absolute;
  left: 8px;
  top: 7px;
  width: 2px;
  height: 100%;
  border-radius: 50%;
  background-color: var(--green_neon);
} 

#column2::before{
  content: '';
  position: absolute;
  left: 8px;
  top: 7px;
  width: 2px;
  height: 100%;
  border-radius: 50%;
  background-color: var(--green_neon);
}

.card {
  overflow: auto;
  width: 100%;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
}

.card::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 18px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:var(--green_neon);
}
.card-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  z-index: 1000;
}

.card-content p:nth-child(2) {
  cursor: pointer;
  align-self: flex-end;
  border-bottom: 1px solid;
}
.card-content a {
  color: var(--blue_neon);
  font-size: 1.2rem;
  font-weight: 600;
}
.card-content i {
  color: black;
  font-size: 0.8rem;
  margin-right: 8px;
}

.card-content .info{
  text-align: justify;
}
.card-content .info ul{
  padding-top: 0.7rem;
  padding-left: 1rem;
}
.card-content .info ul li{
  font-size: 1.1rem;
  font-weight: normal;
}

.card-content p #teeter_demo a{
  font-size: 1rem;
  font-weight: 300;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.card-content .info #teeter_link a{
  font-size: 1rem;
  font-weight: 300;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px){
  #projects{
    height: auto;
    margin-top: 4rem;
  }

  #projects h2 {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    font-family: "Cedarville Cursive", cursive;
    color: black;
    font-size: 2rem;
  }

  .projects-wrapper{
    /* padding-left: 2rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .projects-wrapper #column1{
    width: 100%;
    margin-left: 0;
  }

  .projects-wrapper #column2{
    width: 100%;
  }

  .projects-outer-wrapper{
    margin: 0 1rem;
    padding: 4rem 1rem;
  }

  .card{
    padding-left: 15px;
  }
}



/*CERTIFICATIONS*/
#certifications {
  height: auto;
  /* background-color: ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  margin-top: 5rem;
  margin-bottom: 4rem;

}

.certifications-wrapper {
  padding: 2rem;
  margin: 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  background-color: var(--section_bg); /* Section background color */
  /* box-shadow: 5px 5px 15px #d0d0d0, -5px -5px 15px #ffffff; */

  /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #3f3f3f; */
  border-radius:10px;
}

.certifications-wrapper .heading {
  /* width: 40%; */
  /* margin-top: -5%; */
}

.certifications-wrapper .heading h1 {
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 1.56rem;
}

.certification_info{
  width: 60%;
  padding-left: 1.2rem;
  padding-top: 1.3rem;
}

.certification_info ol li{
  font-size: 1.1rem;
}

.certifications-wrapper .heading2 {
  /* width: 40%; */
  margin-top: 2rem;
}

.certifications-wrapper .heading2 h1 {
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 1.56rem;
}

.certifications-wrapper-item{
  background-color: var(--section_bg)
}
@media only screen and (max-width:1000px){
  #certifications{
    height: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .certifications-wrapper {
    padding-left: 2rem;
    margin: 0 1rem;
    padding: 4rem 1rem;
  }
  
  
  .certification_info{
    width: 90%;
    padding-left: 1.5rem;
  }
  
}
.nav-bg {
  background-color: var(--background);
}

#education {
  background-color: var(--background);
}

#internship {
  background-color: var(--background);
}

#projects {
  background-color: var(--background);
}

.nav-bg,
#about,
#projects {
  background-attachment: fixed;
}

#languages {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  margin-top: 5rem;
}

/* .languages-wrapper {
  padding: 2rem;
  margin: 0 2rem;

  background-color: var(--section_bg);
  border-radius:10px;
}

.languages-wrapper .heading h1 {
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size: 1.56rem;
}


.languages-logos {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

.grid-item {
  outline: 2px solid #e3e3e3;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.grid-item img {
  max-width: 100%;
  max-height: 100px;
  display: block;
  transition: transform 0.5s ease;
}

.grid-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .languages-logos {
      grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 1000px){
  .languages-wrapper{
    margin: 0 1rem;
    padding: 4rem 1rem;
  }
}
@media (max-width: 768px) {
  .languages-logos {
      grid-template-columns: repeat(2, 1fr);
  }

  
}
@media (max-width: 480px) {
  .languages-logos {
      grid-template-columns: 1fr; 
  }
} */


.languages-wrapper {
  padding: 2rem;
  margin: 0rem 2rem;
  background-color: var(--section_bg); /* Section background color */
  border-radius: 10px;
}

.languages-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.category .category-h2 {
  /* min-width: 180px; */
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.category p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .languages-info {
      flex-direction: column;
  }
  
  .category {
      flex-direction: column; /* Stack h2 and p on top of each other on small screens */
      gap: 0.5rem;
      align-items: flex-start;
      margin-bottom: 1rem;
  }

  .languages-wrapper{
    margin: 0 1rem;
    padding: 4rem 1rem;
  }
}

#contact {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  margin-top: 2rem;
}

.contact-wrapper {
  padding: 2rem;
  margin: 0 2rem;

  background-color: var(--section_bg); /* Section background color */
  /* box-shadow: 5px 5px 15px #d0d0d0, -5px -5px 15px #ffffff; */
  border-radius:10px;

  /* background-color: #f0f0f0; */
  /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #3f3f3f; */
}

.form-map{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 4rem;
}

.contact-form{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-control label {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.form-control input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--green_neon);
}

.form-control textarea {
  padding: 8px;
  border: none;
  outline: none;
  border: 1px solid var(--green_neon);
}

.contact-form form button {
  width: 140px;
  height: 35px;
  padding: 10px 7px;
  border: none;
  background-color: var(--green_neon);
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.contact-map{
  width: 100%;
  height: 500px;
  border-radius: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
}

.contact-map figure{
  width: 100%;
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 1000px){
  #contact form{
    width: 100%;
  }

  .contact-form form{
    padding: 10px;
  }

  .form-map{
    flex-direction: column;
  }

  .contact-map{
    height: 350px;
  }


}


#footer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact-wrapper {
  padding: 2rem;
  margin: 0 2rem;

  background-color: var(--section_bg); /* Section background color */
  /* box-shadow: 5px 5px 15px #d0d0d0, -5px -5px 15px #ffffff; */
  border-radius:10px;

  /* background-color: #f0f0f0; */
  /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #3f3f3f; */
}


.footer-wrapper {

  padding: 2rem;
  margin: 0 2rem;

  background-color: var(--section_bg); /* Section background color */
  /* box-shadow: 5px 5px 15px #d0d0d0, -5px -5px 15px #ffffff; */
  border-radius:10px;

  /* background-color: #f0f0f0; */
  /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #3f3f3f; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 20px;
}

.footer-name {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f96a00;
}

.footer-social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust as needed */
  margin-bottom: 10px;
}

.social-link {
  width: 30px;
  height: 30px;
  background-color: var(--green_neon); /* Adjust as needed */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-link a {
  color: white; 
  font-size: 14px;
}

.social-link:hover {
  transform: scale(1.1);
  background-color: #555; 
}

.footer-credits {
  font-size: 1rem;
}

.footer-credits span{
  color: var(--green_neon);
}

@media only screen and (max-width: 1000px){
  .contact-wrapper{
    margin: 0 1rem;
    padding: 4rem 1rem;
  }

  .footer-wrapper{
    margin: 0 1rem;
    padding: 4rem 1rem;
  }
}